[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=***USER***
Group=www-data
WorkingDirectory=***ROOT***/
ExecStart=/www-data/env/bin/bash ***ROOT***/deployment/start

[Install]
WantedBy=multi-user.target
