include w3bsite/.version
include w3bsite/README.md
#include w3bsite/classes/django/lib/*.js
include w3bsite/classes/django/lib/*.html
include w3bsite/classes/django/lib/*
include w3bsite/classes/django/lib/**/*
include w3bsite/classes/django/lib/***/**/*
include w3bsite/classes/django/lib/****/***/**/*
#include w3bsite/classes/django/lib/*****/****/***/**/*
include w3bsite/classes/deployment/lib/*
include w3bsite/classes/deployment/lib/gunicorn.socket
include w3bsite/classes/views/html/*
include w3bsite/classes/views/html/*/**
include w3bsite/classes/apps/*/html/*
include w3bsite/classes/apps/*/js/*
include w3bsite/classes/apps/*/mail/*
include w3bsite/classes/apps/*/css/*
include w3bsite/classes/apps/defaults/html/*
include w3bsite/classes/apps/defaults/*/**
include w3bsite/classes/electron/lib/*/**
include w3bsite/classes/electron/lib/electron/*
include w3bsite/classes/electron/lib/electron/*/**