{% load static %}
<div id="footer" class="widget" style="width: 95%; padding-top: 50px; padding-bottom: 50px; margin-top: 50px; margin-bottom: 15px;">
	<div style="margin: 0 auto; text-align: center; margin-top: 50px; margin-bottom: 10px;">
		<img src="{% static 'media/icons/chip-2.png' %}" alt="Poker Stats" width="75" style="width: 75px; height: 75px;" />
	</div>
	<h1 class="title" style="color: {{colors.white}}; text-align: center; font-size: 24px; width: 100%; font-weight: bold; margin-top: 25px;">
		Reach us on social
	</h1>
	<div style="display: flex; margin: 0 auto; width: 240px; margin-top: 35px;">
		<a target="_blank" href="https://www.facebook.com/PokerStats" style="width: 20px; height: 20px; position: relative; text-decoration: none;">
			<img src="{% static 'media/social-media/facebook.png' %}" alt="Poker Stats" width="20" style="width: 20px; height: 20px; position: absolute;" />
		</a>
		<div style="width: 35px; height: 10px;"></div>
		<img src="{% static 'media/social-media/linkedin.greyed-out.png' %}" alt="Poker Stats" width="20" style="width: 20px; height: 20px;" />
		<div style="width: 35px; height: 10px;"></div>
		<img src="{% static 'media/social-media/youtube.greyed-out.png' %}" alt="Poker Stats" width="20" style="width: 20px; height: 20px;" />
		<div style="width: 35px; height: 10px;"></div>
		<img src="{% static 'media/social-media/instagram.greyed-out.png' %}" alt="Poker Stats" width="20" style="width: 20px; height: 20px;" />
		<div style="width: 35px; height: 10px;"></div>
		<img src="{% static 'media/social-media/twitter.greyed-out.png' %}" alt="Poker Stats" width="20" style="width: 20px; height: 20px;" />
	</div>

	<div style="width: 75vw; height: 1px; background: #FAFAFA; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;"></div>
	<div style="display: flex; margin: 0 auto; width: 75vw; margin-top: 50px;">
		<p class="text" style="flex: 1; color: {{colors.white}}; text-align: center; font-size: 16px; font-weight: lighter; width: 25%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; margin-top: -25px;">
			<a href="/contact/" style="text-decoration: none; color: #FAFAFA;">
				Contact
			</a>
		</p>
		<p class="text" style="flex: 1; color: {{colors.white}}; text-align: center; font-size: 16px; font-weight: lighter; width: 25%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; margin-top: -25px;">
			<a href="/privacy_policy/" style="text-decoration: none; color: #FAFAFA;">
				Privacy Policy
			</a>
		</p>
		<!--
		<p class="text" style="flex: 1; color: {{colors.white}}; text-align: center; font-size: 16px; font-weight: lighter; width: 25%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; margin-top: -25px;">
			<a href="/privacy_policy/" style="text-decoration: none; color: #FAFAFA;">
				Terms of Usage
			</a>
		</p>
		-->
	</div>
	<div style="margin-top: 0px;">
		<p class="text" style="margin-top: 50px; font-size: 10px; color: #D5D5D5">
			© VanDenBerghInc 2020. All rights reserved.
		</p>
	</div>
</div>
