{% extends 'w3bsite/classes/apps/defaults/html/base.html' %}
{% load static %}
{% block content %}

<!-- CHECK INSTALLATION -->
<script type="text/javascript">
	toggle_topbar("hide")
	set_background_color("{{COLORS.widgets_reversed}}")
	set_header_path("404/")
</script>

<!-- CONTENT -->
<div class="full_window_centered">

	<!-- LOGO -->
	<img src="{% static 'favicon.ico' %}" width="45px" height="45px" style="display: block; margin: 0 auto; margin-bottom: 35px;">

	<!-- SIGN IN WIDGET -->
	<div class="widget_container"  style="">
		<div class="widget_child">
			<h1 class="title">
				Page not Found
			</h1>
			<p id="jk2378jka8723hjd" class="text"></p>
			<script type="text/javascript">
				document.getElementById("jk2378jka8723hjd").innerHTML = `Requested server url (${location.href}) does not exist.`
			</script>
			<button class="button" onclick="" >
				<a href="/" class="empty_a inherit empty">
					Home
				</a>
			</button>
		</div>
	</div>

	<!-- FOOTER -->
	<h1 class="text_reversed" style="font-size: 6px; font-weight: 400; margin-top: 35px;">
		© 2020 VanDenBerghInc. All Rights Reserved.
	</h1>

</div>

{% endblock %}